<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172201409827-l9ljt3askfs6fq3edfch28b3knv5kkbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172201409827-l9ljt3askfs6fq3edfch28b3knv5kkbv</string>
	<key>API_KEY</key>
	<string>AIzaSyAvhN9CB7Kvq4Rrk2xmQpCFVWwD547h4-I</string>
	<key>GCM_SENDER_ID</key>
	<string>172201409827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devstrike.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>lloyd-test-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lloyd-test-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172201409827:ios:a5f1084f34fb646c73e096</string>
</dict>
</plist>